---
import "../styles/global.css";
import NikLogo from "../images/NikLogo.svg";
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale = 1" />
    <meta
      name="description"
      content="Portfolio website and general ramblings made for and by Nikolaus
      Walton, a software engineer and deisgner based in the Pacific Northwest."
    />

    <title>Nikolaus Andrew Walton</title>

    <slot />
  </head>
  <footer>
    <div class="mx-2 flex items-center">
      <NikLogo width={50} height={50} />
      <p class="px-2 font-extralight text-sm">&copy; 2026</p>
    </div>
  </footer>


</html>
