---
import MainLayout from "../layouts/MainLayout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<MainLayout>
    <div class="container flex flex-warp mx-auto flex-col">
        <h1 class="text-8xl font-black leading-snug">Nikolaus Walton</h1>
        <h2 class="text-4xl leading-snug">Software Engineering and Design</h2>
        <hr/>
    
        <h3>About</h3>
        <p> I am a junior software engineer and designer with a focus
            on ease of use and flair. I graduated from Washington State University
            with a Bachelor of Science in Computer Sciene, and was also awarded the
            President's Award for Leadership for my contributions to the computer science commuinity
            at the university. I love to learn new things and try to be quality over quantity whenever I can.
        </p>
        <p>
            My main hobbies outside of programming work are music (production 
            and DJ) and gaming.
        </p>
        <hr/>
        <h3>The Things I Use Lately</h3>
    </div>
</MainLayout>
