---
import GeneralLayout from "../layouts/GeneralLayout.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>NIKOLAUS WALTON</title>
  </head>
  <body>
    <GeneralLayout>
      <h1 class="font-eva text-9xl">
        NIKOLAUS <br /> WALTON
      </h1>
      <p class="font-[Arial] font-bold text-5xl">Software Engineer</p>
    </GeneralLayout>
  </body>
</html>
