---
import GeneralLayout from "../layouts/GeneralLayout.astro";

import CppIcon from "../images/Cpp.svg";
import GithubIcon from "../images/Github.svg";
import TypescriptIcon from "../images/Typescript.svg";
import Html5Icon from "../images/Html5.svg";
import Css3Icon from "../images/Css3.svg";
import ClaudeIcon from "../images/Claude.svg";
import MacIcon from "../images/Mac.svg";
import PythonIcon from "../images/Python.svg";
import VscodeIcon from "../images/Vscode.svg";
import SwiftIcon from "../images/Swift.svg";
import NotionIcon from "../images/Notion.svg";
import FigmaIcon from "../images/Figma.svg";
import type { ACTION_ERROR_CODES } from "astro:actions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <GeneralLayout>
      <div class="container mx-auto">
        <h1 class="font-eva text-white text-8xl md:text-9xl tracking-tighter">
          NIKOLAUS ANDREW <br /> WALTON
        </h1>
        <p class="font-[Arial] text-white font-extrabold text-5xl">
          Software Engineer. Designer.
        </p>
      </div>
      <div
        class="rounded-lg bg-white/10 backdrop-blur-2xl border border-white/20 shadow-lg mx-2 my-4"
      >
        <h2 class="font-eva text-3xl text-white tracking-tight text-center">
          ABOUT
        </h2>
        <p class="font-[Arial] p-2 text-white leading-8 tracking-widest">
          I am a junior software engineer and casual designer. I graduated from
          Washington State University with a bachelors of science in computer
          science. I was awarded the President's Award for Leadership for my
          contributions to the computer science community at the university.
        </p>

        <p class="font-[Arial] p-2 text-white leading-8 tracking-widest">
          My main hobbies outside of programming work are music, gaming, and 3D
          printing. For coding, I generally like to work on all types of
          projects across web, mobile and desktop.
        </p>

        <p class="font-[Arial] p-2 text-white leading-8 tracking-widest">
          My AI usage is limited to programming contexts only. I refuse to
          generate images, videos, etc for my work. Accelerating the creative
          process is dumb and detrimental to creative work. Even when used, I
          limit my prompting as much as possible to mitigate environmental
          impact, also just to challenge myself and keep my skills sharp.
        </p>
      </div>
      <div
        class="rounded-lg bg-white/10 backdrop-blur-2xl border border-white/20 shadow-lg m-2"
      >
        <h2 class="font-eva text-3xl text-white text-center">TOOLS</h2>
        <div class="container mx-auto grid grid-cols-4 justify-items-center">
          <CppIcon width={100} height={100} aria-label="C++" />
          <PythonIcon width={100} height={100} arial-label="Python" />
          <SwiftIcon width={100} height={100} aria-label="Swift" />
          <GithubIcon
            width={100}
            height={100}
            stroke={"white"}
            aria-label="Github"
          />
          <Html5Icon width={100} height={100} aria-label="HTML 5" />
          <Css3Icon width={100} height={100} aria-label="CSS 3" />
          <TypescriptIcon width={100} height={100} aria-label="Typescript" />
          <ClaudeIcon width={100} height={100} aria-label="Claude" />
          <MacIcon
            width={100}
            height={100}
            stroke={"white"}
            aria-label="MacOS"
          />
          <VscodeIcon width={100} height={100} aria-label="VS Code" />
          <NotionIcon
            width={100}
            height={100}
            stroke={"white"}
            aria-label="Notion"
          />
          <FigmaIcon width={100} height={100} aria-label="Figma" />
        </div>
      </div>
      <h2 class="font-eva text-3xl text-white text-center">NOTABLE THINGS</h2>
      <div
        class="rounded-lg bg-white/10 backdrop-blur-2xl border border-white/20 shadow-lg m-2 p-4 leading-9 tracking-widest"
      >
        <p class="font-[Arial] text-white">
          [2022-Now] Alumni Mentor for ACM@WSU
        </p>
        <p class="font-[Arial] text-white">
          [2022-2023] Disney College Program
        </p>
        <p class="font-[Arial] text-white">
          [2022] WSU Presidents Award for Leadership <a
            class="text-blue-600 font-bold tracking-tighter"
            href="https://lead.wsu.edu/leadership-awards/"
            >[read about the recognition]</a
          >
        </p>
        <p class="font-[Arial] text-white">
          [2018-2020] Media Team for Cougs In Space at WSU
        </p>
        <p class="font-[Arial] text-white">
          [2019-2022] Lead coach for the WSU Fencing Team
        </p>
        <p class="font-[Arial] text-white">
          [2019-2020] President of Associaton for Computing Machinery WSU
          Chapter
        </p>
        <p class="font-[Arial] text-white">
          [2020] Director of the 2020 CrimsonCode Hackahton <a
            class="text-blue-600 font-bold tracking-tighter"
            href="https://dailyevergreen.com/74588/news/hacking-away-at-the-competition/"
            >[read the article]</a
          >
        </p>
        <p class="font-[Arial] text-white">
          [2017-2019] CrimsonCode Hackathon organizer and Volunteer
        </p>
      </div>
      <div
        class="rounded-lg bg-white/10 backdrop-blur-2xl border border-white/20 shadow-lg m-2"
      >
        <h2 class="font-eva text-3xl text-white text-center">CONTACT</h2>
        <iframe
          src="https://silly-gruyere-373.notion.site/ebd//31e06b2ab2e5802988d0e81e291aeeda"
          title="Contact Form"
          width="100%"
          height="600"
          loading="lazy"
          allowfullscreen></iframe>
      </div>
      <hr />
    </GeneralLayout>
  </body>
</html>
