@font-face {
  font-family: "Outfit-Variable";
  src:
    url("../fonts/Outfit-Variable.woff2") format("woff2"),
    url("../fonts/Outfit-Variable.woff") format("woff"),
    url("../fonts/Outfit-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: "Sharpie-Variable";
  src:
    url("../fonts/Sharpie-Variable.woff2") format("woff2"),
    url("../fonts/Sharpie-Variable.woff") format("woff"),
    url("../fonts/Sharpie-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: block;
  font-style: normal;
}
