---
import "../styles/global.css";
import NikLogo from "../images/NikLogo.svg";
import Dither from "../components/Dither";
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale = 1" />
    <meta
      name="description"
      content="Portfolio website and general ramblings made for and by Nikolaus
      Walton, a software engineer and deisgner based in the Pacific Northwest."
    />

    <title>Nikolaus Andrew Walton</title>
  </head>
  <body class="m-0 p-0 bg-black">
    <div class="fixed w-screen h-full">
      <Dither
        client:load
        waveColor={[0.5, 0.5, 0.5]}
        disableAnimation={false}
        mouseRadius={0.3}
        colorNum={4}
        waveAmplitude={0.3}
        waveFrequency={1.0}
        waveSpeed={0.02}
      />
    </div>

    <div class="relative">
      <slot />
    </div>

    <footer class="bg-white rounded-xl relative">
      <div class="mx-2 flex items-center">
        <NikLogo width={50} height={50} />
        <p class="px-2 font-extralight text-sm">&copy; 2026</p>
      </div>
    </footer>
  </body>
</html>
